* {
    margin: 0;
}



.pf-main{
    margin-top: 83px;
}

p{
    margin-top: 10px;
}

.df{
    display: flex;
}

.pf-container{
    margin: 0 auto ;
    max-width: 1000px;
    width: 100%;
    @media (max-width: 1200px){
        max-width: 960px;
    }
    @media (max-width: 991px){
        max-width: 90%;
    }
}

*{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-weight: 500;
    line-height: 37.5px;
    font-size: 32px;
}

h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
}

h6{
    color: #999;
    font-size: 14px;
    font-weight: 500;
}

p{
    font-size: 14px;
}

label{
    font-size: 14px;
    line-height: 16.41px;
    color: #999999;
}

.gray{
    color: #999;
}

.black{
    color: #000;
}



