.btn-group{
    justify-content: flex-end;
    .submit-wrapper{
        margin-left: 24px;
        .back-button{
            background: none;
            text-transform: uppercase;
            color: #D43535;
            font-size: 18px;
            box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.3);
            border-radius: 10px;
            width: 300px;
            height: 60px;
            border: none;
            cursor: pointer;
            transition: 0.2s;
            outline: none;
            &:hover{
                transition: 0.2s;
                border-color: #D43535;
                box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);

            }
            &:active{
                opacity: 1;
            }
        }
    }
    
}

.card-wrapper{
    justify-content: space-between;
    margin-top: 39px;
    display: flex;
    @media (max-width: 991px){
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 5%;
    }
    h6{
        margin-bottom: 11px;
    }
    .card-column{
        width: 80%;
        @media (max-width: 991px){
            width: 100%;
        }
        .mess-bar{
            box-sizing: border-box;
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);           
            border-radius: 15px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: space-between;
            @media (max-width: 991px){
                padding: 24px;
                justify-content: center;
            }
            .card-wrap{
                margin-right: 24px;
                margin-top: 20px;
                margin-bottom: 47px;
                margin-left: 24px;
                @media (max-width: 991px){
                    margin-left: 0;
                }
                .card{
                    background: #FFFFFF;
                    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
                    border-radius: 15px;
                    height: 202px;
                    width: 370px;
                    display: grid;
                    grid-template-rows: 39% 31%;
                    grid-row-gap: 25px;
                    @media (max-width: 991px){
                        width: 47vw;
                    }
                    .card-number{
                        display: grid;
                        grid-template-columns: auto auto auto auto;
                        grid-column-gap: 8px;
                        margin: 0 25px;
                        label{
                            grid-column: 1/5;
                            margin-top: 20px;
                        }
                        input{
                            width: 100%;
                        }
                    }
                }
            }
            // &::before{
            //     content: "";
            //     position: absolute;
            //     width: 0;
            //     height: 0;
            //     margin-left: -0.5em;
            //     top: 40%;
            //     left: 1%;
            //     box-sizing: border-box;
                
            //     border: 1em solid black;
            //     border-color: transparent transparent #ffffff #ffffff;
                
            //     transform-origin: 0 0;
            //     transform: rotate(45deg);
            //     box-shadow: -6px 6px 7px 0 rgba(51, 51, 51, 0.09);
            //     @media (max-width: 991px){
            //         transform: rotate(135deg);
            //         top: 0;
            //         left: 55%;
            //     }
            // }
            .payment-sys{
                margin-left: 24px;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 44%;
                @media (max-width: 1200px){
                    width: 40%;
                }
                @media (max-width: 991px){
                    width: 90%;
                    margin-left: 0;
                }
                .input-row{
                    justify-content: space-between;
                    .pay-sys{
                        background: #FFFFFF;
                        box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
                        border-radius: 3px;
                        width: 23%;
                        height: 80px;
                    }
                
                }
                .input-column{
                    .pay-sys{
                        margin-top: 10px;
                        background: #FFFFFF;
                        box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.2);
                        border-radius: 3px;
                        width: 100%;
                        height: 50px;
                    }
                }
            }
        }
    }
}

.pay-sys{
    display: grid;
    align-content: center;
    justify-content: center;
}

.mess-bar-active-1{
    &::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -0.5em;
        left: 1.3%;
        box-sizing: border-box;
        top: 4%;

        border: 1em solid black;
        border-color: transparent transparent #ffffff #ffffff;
        transition: 0.5s;
        transform-origin: 0 0;
        transform: rotate(45deg);
        box-shadow: -6px 6px 7px 0 rgba(51, 51, 51, 0.09);
        @media (max-width: 991px){
            transform: rotate(135deg);
            top: 0;
            left: 14%;
        }
    }
}
.mess-bar-active-2{
    &::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -0.5em;
        left: 1.3%;
        box-sizing: border-box;
        top: 40%;
        transition: 0.5s;

        border: 1em solid black;
        border-color: transparent transparent #ffffff #ffffff;
        
        transform-origin: 0 0;
        transform: rotate(45deg);
        box-shadow: -6px 6px 7px 0 rgba(51, 51, 51, 0.09);
        @media (max-width: 991px){
            transform: rotate(135deg);
            top: 0;
            left: 55%;
        }
    }
}.mess-bar-active-3{
    &::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -0.5em;
        left: 1.3%;
        box-sizing: border-box;
        top: 76%;
        transition: 0.5s;

        border: 1em solid black;
        border-color: transparent transparent #ffffff #ffffff;
        
        transform-origin: 0 0;
        transform: rotate(45deg);
        box-shadow: -6px 6px 7px 0 rgba(51, 51, 51, 0.09);
        @media (max-width: 991px){
            transform: rotate(135deg);
            top: 0;
            left: 95%;
        }
    }
}
.submit{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 18px;
    background: linear-gradient(43.23deg, #F57E80 0%, #D43535 119.64%);
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.3);
    border-radius: 10px;
    width: 300px;
    height: 60px;
    border: none;
    margin-bottom: 200px;/////////////////////////////////
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    &:hover{
        opacity: 0.8;
        transition: 0.2s;
    }
    &:active{
        opacity: 1;
    }
    &:disabled{
        background: rgba(0,0,0,0.3);
        transition: 0.2s;
    }
}

.submit-wrapper{
    justify-content: flex-end;
    margin-top: 51px;
}

.op-50{
    opacity: 0.5;
}

.card-data{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 0 25px;
    .expiration-date{
        display: grid;
        grid-column: 1/3;
        input{
            width: 98%;
        }
    }
    .card-cvv{
        display: grid;
        grid-column: 4;
        input{
            width: 92%;
            justify-self: flex-end;
        }
    }
}

#modal-root {
    position: relative;
    z-index: 999;
  }

.modal {
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    #modal-container{
        display: flex;
        align-items: center;
        height: 50%;
        padding: 50px;
        .modal-inner{
            color: #D43535;
            font-size: 36px;
        }
    }
    .close-modal{
        height: 50px;
        width: 50px;
        color: #D43535;
        position: absolute;
        top: 50px;
        right: 50px;
        background: none;
        border: none;
        font-size: 36px;
        cursor: pointer;
        span{
            background: cornflowerblue;
        }
    }
  }